h3{
	font-size: 24;
	color: blue;
}

p{
	font-size: 18;
	color: black;
	
}
.topLeft{
	
	background-color: #ffce42;
	border: 5px solid #002147;
	padding: 30px;
	margin-left: 30px;
	margin-right: 300px;
	margin-top: 100px;
	margin-bottom: 100px;
	
}

.topRight{
	
	background-color: #ffce42;
	border: 5px solid #002147;
	padding: 30px;
	margin-right: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
	
	
}

.bottom{
	
	background-color:#ffce42;
	border: 5px solid #002147;
	padding: 30;
	
}

.comics{
	
	background-color:#ffce42;
	border: 5px solid #002147;
	padding: 30;	
}